 .u-section-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("/frontend/images/9d38576e5d3fdefd1827bec1aefa1aba25f31b3e2b104e389721a428ca74c493d943b26d5e819204a6e852975f64fbb5746ce3d7849d178c06bed6_1280.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 310px;
}

.u-section-1 .u-text-1 {
  font-size: 3rem;
  font-weight: 700;
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 82px 0 0;
}

.u-section-1 .u-text-2 {
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 30px 0 60px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 256px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 196px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 147px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 93px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 98px;
}

.u-section-2 .u-custom-html-1 {
  margin-bottom: 15px;
  height: auto;
  min-height: 65px;
  margin-top: 16px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}.u-section-3 .u-sheet-1 {
  min-height: 93px;
}

.u-section-3 .u-text-1 {
  font-size: 3rem;
  font-weight: 700;
  margin: 21px 0;
}.u-section-4 .u-sheet-1 {
  min-height: 429px;
}

.u-section-4 .u-list-1 {
  margin-top: 27px;
  margin-bottom: 27px;
}

.u-section-4 .u-repeater-1 {
  grid-gap: 25px 25px;
  grid-template-columns: calc(25% - 18.75px) calc(25% - 18.75px) calc(25% - 18.75px) calc(25% - 18.75px);
  min-height: 375px;
  grid-auto-columns: calc(25% - 18.75px);
}

.u-section-4 .u-list-item-1 {
  background-image: none;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: -300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-4 .u-container-layout-1 {
  padding: 10px;
}

.u-section-4 .u-image-1 {
  height: 172px;
  margin-top: 0;
  margin-bottom: 0;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
}

.u-section-4 .u-group-elements-1 {
  min-height: 139px;
  margin: 30px auto 0;
}

.u-section-4 .u-text-1 {
  font-size: 1.125rem;
  font-weight: 700;
  margin: 0;
}

.u-section-4 .u-btn-1 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  margin: 24px auto 0;
  padding: 0;
}

.u-section-4 .u-icon-1 {
  font-size: 1.4em;
}

.u-section-4 .u-list-item-2 {
  background-image: none;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: -300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-4 .u-container-layout-2 {
  padding: 10px;
}

.u-section-4 .u-image-2 {
  height: 172px;
  margin-top: 0;
  margin-bottom: 0;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
}

.u-section-4 .u-group-elements-2 {
  min-height: 139px;
  margin: 30px auto 0;
}

.u-section-4 .u-text-2 {
  font-size: 1.125rem;
  font-weight: 700;
  margin: 0;
}

.u-section-4 .u-btn-2 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  margin: 24px auto 0;
  padding: 0;
}

.u-section-4 .u-icon-2 {
  font-size: 1.4em;
}

.u-section-4 .u-list-item-3 {
  background-image: none;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: -300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-4 .u-container-layout-3 {
  padding: 10px;
}

.u-section-4 .u-image-3 {
  height: 172px;
  margin-top: 0;
  margin-bottom: 0;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
}

.u-section-4 .u-group-elements-3 {
  min-height: 139px;
  margin: 30px auto 0;
}

.u-section-4 .u-text-3 {
  font-size: 1.125rem;
  font-weight: 700;
  margin: 0;
}

.u-section-4 .u-btn-3 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  margin: 24px auto 0;
  padding: 0;
}

.u-section-4 .u-icon-3 {
  font-size: 1.4em;
}

.u-section-4 .u-list-item-4 {
  background-image: none;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: -300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-4 .u-container-layout-4 {
  padding: 10px;
}

.u-section-4 .u-image-4 {
  height: 172px;
  margin-top: 0;
  margin-bottom: 0;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
}

.u-section-4 .u-group-elements-4 {
  min-height: 139px;
  margin: 30px auto 0;
}

.u-section-4 .u-text-4 {
  font-size: 1.125rem;
  font-weight: 700;
  margin: 0;
}

.u-section-4 .u-btn-4 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  margin: 24px auto 0;
  padding: 0;
}

.u-section-4 .u-icon-4 {
  font-size: 1.4em;
}

.u-section-4 .u-list-item-5 {
  background-image: none;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: -300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-4 .u-container-layout-5 {
  padding: 10px;
}

.u-section-4 .u-image-5 {
  height: 172px;
  margin-top: 0;
  margin-bottom: 0;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
}

.u-section-4 .u-group-elements-5 {
  min-height: 139px;
  margin: 30px auto 0;
}

.u-section-4 .u-text-5 {
  font-size: 1.125rem;
  font-weight: 700;
  margin: 0;
}

.u-section-4 .u-btn-5 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  margin: 24px auto 0;
  padding: 0;
}

.u-section-4 .u-icon-5 {
  font-size: 1.4em;
}

.u-section-4 .u-list-item-6 {
  background-image: none;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: -300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-4 .u-container-layout-6 {
  padding: 10px;
}

.u-section-4 .u-image-6 {
  height: 172px;
  margin-top: 0;
  margin-bottom: 0;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
}

.u-section-4 .u-group-elements-6 {
  min-height: 139px;
  margin: 30px auto 0;
}

.u-section-4 .u-text-6 {
  font-size: 1.125rem;
  font-weight: 700;
  margin: 0;
}

.u-section-4 .u-btn-6 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  margin: 24px auto 0;
  padding: 0;
}

.u-section-4 .u-icon-6 {
  font-size: 1.4em;
}

.u-section-4 .u-list-item-7 {
  background-image: none;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: -300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-4 .u-container-layout-7 {
  padding: 10px;
}

.u-section-4 .u-image-7 {
  height: 172px;
  margin-top: 0;
  margin-bottom: 0;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
}

.u-section-4 .u-group-elements-7 {
  min-height: 139px;
  margin: 30px auto 0;
}

.u-section-4 .u-text-7 {
  font-size: 1.125rem;
  font-weight: 700;
  margin: 0;
}

.u-section-4 .u-btn-7 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  margin: 24px auto 0;
  padding: 0;
}

.u-section-4 .u-icon-7 {
  font-size: 1.4em;
}

.u-section-4 .u-list-item-8 {
  background-image: none;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: -300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-4 .u-container-layout-8 {
  padding: 10px;
}

.u-section-4 .u-image-8 {
  height: 172px;
  margin-top: 0;
  margin-bottom: 0;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
}

.u-section-4 .u-group-elements-8 {
  min-height: 139px;
  margin: 30px auto 0;
}

.u-section-4 .u-text-8 {
  font-size: 1.125rem;
  font-weight: 700;
  margin: 0;
}

.u-section-4 .u-btn-8 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  margin: 24px auto 0;
  padding: 0;
}

.u-section-4 .u-icon-8 {
  font-size: 1.4em;
}

.u-section-4 .u-gallery-nav-1 {
  position: absolute;
  left: 10px;
  width: 40px;
  height: 40px;
}

.u-section-4 .u-gallery-nav-2 {
  position: absolute;
  right: 10px;
  width: 40px;
  height: 40px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-repeater-1 {
    grid-template-columns: repeat(4, calc(25% - 18.75px));
  }

  .u-section-4 .u-image-1 {
    height: 140px;
  }

  .u-section-4 .u-group-elements-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-image-2 {
    height: 140px;
  }

  .u-section-4 .u-group-elements-2 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-image-3 {
    height: 140px;
  }

  .u-section-4 .u-group-elements-3 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-image-4 {
    height: 140px;
  }

  .u-section-4 .u-group-elements-4 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-image-5 {
    height: 140px;
  }

  .u-section-4 .u-group-elements-5 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-image-6 {
    height: 140px;
  }

  .u-section-4 .u-group-elements-6 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-image-7 {
    height: 140px;
  }

  .u-section-4 .u-group-elements-7 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-image-8 {
    height: 140px;
  }

  .u-section-4 .u-group-elements-8 {
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-repeater-1 {
    grid-template-columns: repeat(2, calc(50% - 12.5px));
    grid-auto-columns: calc(50% - 12.5px);
  }

  .u-section-4 .u-image-1 {
    height: 221px;
  }

  .u-section-4 .u-image-2 {
    height: 221px;
  }

  .u-section-4 .u-image-3 {
    height: 221px;
  }

  .u-section-4 .u-image-4 {
    height: 221px;
  }

  .u-section-4 .u-image-5 {
    height: 221px;
  }

  .u-section-4 .u-image-6 {
    height: 221px;
  }

  .u-section-4 .u-image-7 {
    height: 221px;
  }

  .u-section-4 .u-image-8 {
    height: 221px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-repeater-1 {
    grid-template-columns: 100%;
    grid-auto-columns: calc(100% - 0px);
  }

  .u-section-4 .u-image-1 {
    height: 338px;
  }

  .u-section-4 .u-image-2 {
    height: 338px;
  }

  .u-section-4 .u-image-3 {
    height: 338px;
  }

  .u-section-4 .u-image-4 {
    height: 338px;
  }

  .u-section-4 .u-image-5 {
    height: 338px;
  }

  .u-section-4 .u-image-6 {
    height: 338px;
  }

  .u-section-4 .u-image-7 {
    height: 338px;
  }

  .u-section-4 .u-image-8 {
    height: 338px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-repeater-1 {
    grid-auto-columns: 100%;
  }

  .u-section-4 .u-image-1 {
    height: 208px;
  }

  .u-section-4 .u-image-2 {
    height: 208px;
  }

  .u-section-4 .u-image-3 {
    height: 208px;
  }

  .u-section-4 .u-image-4 {
    height: 208px;
  }

  .u-section-4 .u-image-5 {
    height: 208px;
  }

  .u-section-4 .u-image-6 {
    height: 208px;
  }

  .u-section-4 .u-image-7 {
    height: 208px;
  }

  .u-section-4 .u-image-8 {
    height: 208px;
  }
}